body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

#header {
    width: 99.7%;
    height: 50px;
    top: 0;
    position: absolute;
    text-align: center;
    background-color: #bcc3ca;
    line-height: 50px;
    border-radius: 5px;
    font-family: cursive;
    font-size: 20px;
    box-shadow: 5px 10px 8px 10px #8888884d;
    border: 2px solid #afa3a3;
    z-index: 99;
}

.station {
    background-image: url("../images/charging.png");
    height: 35px;
    width: 35px;
    background-size: cover;
    cursor: pointer;
}

.car {
    background-image: url("../images/car.png");
    height: 35px;
    width: 80px;
    background-size: cover;
    cursor: pointer;
}

.car.active {
    border-radius: 5px;
    border: 1px solid #ff00005c;
    box-shadow: 0px 0px 3px 7px #9e30304d;
}

.endpoint {
    background-image: url("../images/final.png");
    height: 35px;
    width: 35px;
    background-size: cover;
    cursor: pointer;
}

#view-switch {
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#car-locator {
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 20px;
    right: 80px;
    cursor: pointer;
}

#car-locator-action {
    display: none;
    max-height: 300px;
    overflow-y: auto;
}

#info {
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 20px;
    right: 140px;
    cursor: pointer;
}

#header.satellite {
    box-shadow: 5px 10px 8px 10px #6e73946b;
    background-color: #c9bcca;
}

#info-box, #alert-box, #car-locator-action, #cookie-box {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #bcc3ca;
    border-radius: 5px;
    font-family: cursive;
    font-size: 18px;
    box-shadow: 5px 10px 8px 10px #8888884d;
    text-align: center;
    padding: 10px;
    z-index: 9999999;
}


#alert-box {
    top: 20% !important;
}

#info-box > button, #car-locator-action > button, #cookie-box > button {
    background: white;
    font-family: cursive;
    padding: 5px 10px;
    width: auto;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.cookie-box-entry {
    text-align: left;
}

.rent-car, .confirm-endpoint {
    border: none;
    background: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.mapboxgl-popup-content {
    font-family: cursive;
    font-size: 16px;
    text-align: center;
}

.menu-entry-holder {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.menu-entry {
    display: table-cell;
    width: 50%;
}

body.preloader, body.traveling {
    pointer-events: none;
}

.preloader body:before,
.preloader body:after,
.traveling body:before,
.traveling body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    line-height: 75px;
    background-color: rgba(255, 255, 255, 0.75);
}

.preloader body:after {
    background: transparent url('../images/mario.png') center center no-repeat;
    background-size: 75% auto;
    top: 50%;
    height: 80px;
    width: 80px;
    left: 50%;
    margin: 0 0 0 -40px;
}

.traveling body:after {
    background: transparent url('../images/loader.gif') center center no-repeat;
    background-size: 100% auto;
    top: 50%;
    height: 100px;
    width: 250px;
    left: 40%;
    margin: 0 0 0 -40px;
}

.error-page-holder > a, .error-page-holder > h1 {
    font-family: cursive;
}

.error-page-holder {
    text-align: center;
}

.error-page-holder > a {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    color: black;
    box-shadow: 5px 5px #888888;
    font-size: 25px;
}

.error-page-holder > img {
    margin-bottom: 25px;
}

.error-page-holder {
    padding: 52px;
}