<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/home.css" th:href="@{/css/home.css}"/>
    <link rel="icon" href="../images/favicon.ico">
</head>
<body>
<div id='header'>Rent a car ScaleCar ®</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="error-page-holder col-md-6 col-md-offset-3">
            <h1>You have found the golden tire! Now you can go back!</h1>
            <img th:src="@{../images/goldenTire.jpg}" alt="400-error" width="300" height="auto"/>
            <br>
            <a href="/home">Take me home</a>
        </div>
    </div>
</div>

</body>
</html>