<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'/>
    <title>ScaleCar</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/home.css" th:href="@{/css/home.css}"/>
    <link rel="icon" href="../images/favicon.ico">
</head>

<body>
<div id='header'>Rent a car ScaleCar ®</div>
<div id='map'></div>
<img id="view-switch" th:src="@{../images/globe.png}" title="Click to change view!" alt="Globe"/>
<img id="car-locator" th:src="@{../images/locator.png}" title="Find a car!" alt="Locator"/>
<img id="info" th:src="@{../images/info.png}" title="Info!" alt="Info!"/>
<div id="car-locator-action">
    <p>The cars, that we offer:</p>
    <div id="car-list"></div>
    <button id="close-car-locator">Close</button>
</div>
<div id="info-box">
    <p>Rent a car easily and fast:</p>
    <p>1. Click the car you desire.</p>
    <p>2. Make it yours by clicking 'Reserve'</p>
    <p>3. Click on the map your final destination</p>
    <p>4. Confirm your choice</p>
    <p>It's so simple!</p>
    <button id="js-close-alert-box">OK!</button>
</div>
<div id="cookie-box">
    <p>Welcome!</p>
    <p>If you need help, we got you covered:</p>
    <div class="cookie-box-entry"><img th:src="@{../images/info.png}" th:width="40px" th:height="40px"/><span>If you have any doubts!</span>
    </div>
    <div class="cookie-box-entry"><img th:src="@{../images/locator.png}" th:width="40px" th:height="40px"/><span>Find the cart that suits you!</span>
    </div>
    <div class="cookie-box-entry"><img th:src="@{../images/globe.png}" th:width="40px" th:height="40px"/><span>Change the map skin!</span>
    </div>
    <p>Enjoy!</p>
    <button id="js-accept-terms">Got it!</button>
</div>
<div id="alert-box"></div>
</body>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/homeJs.js" th:src="@{../js/homeJs.js}"></script>

</html>